	<div id="subpage">

		<div id="subpage-intro" class="container">

			<p id="page-title"><img src="../../images/site/grid_intro.png" alt="about-intro"/>Webzide Members</p>

			<p id="page-description">Here is a list honouring all early adopters. With a badge next to them </p>

		</div>

	</div><!-- End Subpage Introduction -->


	<div id="subpage-inner" class="container">

	<h1>Webzide's Early Adopters</h1>
	<p>Webzide is an revolutionary online platform which allows users to dynamically design web pages. We are at the Alpha stage of our application development cycle. What you see here is an early release of our services. We are excited to have you as an "early adopter" and "alpha tester" in our growing services. After signing up, you are given an opportunity to try to our product and give some feedbacks and suggestions </p>


	<table id="pricing-table">
		<tr>

			<td class="col-plan col-first">Required Fields:</td>

		</tr>





    <tr class="row-white">
      <td class="users_td username_legend">
        <div class="authen_form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

     <fieldset id="form" class="form">
       <legend>Required Fields</legend>

       <table id="form_table">
         <tr>
           <td class="form_td">
              <%= f.label "User Name:" %>

           </td>
           <td class="form_td">
             <%= f.text_field :name %>
           </td>
         </tr>

          <tr>
           <td class="form_td">
               <%= f.label "Email:" %>

           </td>
           <td class="form_td">
             <%= f.text_field :email %>
           </td>
         </tr>

                   <tr>
           <td class="form_td">
               <%= f.label "Password:" %>

           </td>
           <td class="form_td">
             <%= f.password_field :password %>
           </td>
         </tr>
          <tr>
           <td class="form_td">
               <%= f.label "Password Confirmation:" %>

           </td>
           <td class="form_td">
               <%= f.password_field :password_confirmation %>
           </td>
         </tr>

         <tr>
           <td colspan="2" class="form_td">
              <span class="tos_title">Terms of Service</span>

           </td>

         </tr>

          <tr>
           <td colspan="2" class="form_td">
              <%= render "shared/tos" %>

           </td>

         </tr>

       </table>

       <div class="tos">
         

       <br />
          <div class="tos_content">
            
          </div>
       </div>


      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
     </fieldset>
  <% end %>
  </div>



      </td>
    </tr>



	</table>

	</div> <!-- End Subpage -->

	<div class="clr divider"></div>