

<% if !current_user.nil?  %>

<div>
  You are already logged in
</div>
<% else %>

  <h2>Sign up your new Webzide Account</h2>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

     <fieldset>
       <legend>Required Fields</legend>
  
      <div class="field">
        <%= f.label "Webzide Name:" %><br />
        <%= f.text_field :name %>@webzides.com

      </div>
       <br />
      <div class="field">
        <%= f.label "Email:" %><br />
        <%= f.text_field :email %>
      </div>
       <br />
      <div class="field">
        <%= f.label "Password" %><br />
        <%= f.password_field :password %>
      </div>
       <br />
      <div class="field">
        <%= f.label "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation %>
      </div>
       <br />
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
     </fieldset>
  <% end %>

<% end %>
