      <div id="content">



        <section class="round">
          <% flash.each do |key, value| %>
            <div class="flash <%= value %>">
              <%= value %>
           </div>
          <% end%>
        </section>

<% if !current_user.nil?  %>

<div>
  You are already logged in
</div>
<% else %>

  <h3>Sign up a new Webzide Account</h3>

  <div class="authen_form">
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

     <fieldset>
       <legend>Required Fields</legend>
  
      <div class="field">
        <div class="field_label">
          <%= f.label "User Name:" %>
        </div>
        <div class="field_input">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label "Email:" %>
        </div>
        <div class="field_input">
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label "Password:" %>
        </div>
        <div class="field_input">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="field">
        <div class="field_label">
          <%= f.label "Password Confirmation:" %>
        </div>
        <div class="field_input">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

       <div class="tos">
         <span class="tos_title">Terms of Service</span>
       
       <br />
          <div class="tos_content">
            <%= render "shared/tos" %>
          </div>
       </div>


      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
     </fieldset>
  <% end %>
  </div>

<% end %>

      </div>