<div id="authen-span">

  <% if !current_user.nil? %>
    <div class="authen_user">
        <%= 'Hi' %>
        <span class="user_name">
          <%= current_user.name %>
          
        </span>
            ! Today is <%= Date.today.to_s %>
        <div id="logout-button">
          <span id="logout-text">
            <%= link_to '<button>Logout</button>'.html_safe, logout_path %>
          </span>
        </div>
    </div>

  <% else %>
     <%= form_for(:session, :url => sessions_path) do |form| %>
      <div class="authen_field">
        <label for="name">User Name:</label>
        <%= form.text_field(:name, { :size=> 15, :maxlength=> 20 }) %>
      </div>

      <div class="authen_field">
        <label for="password">Password:</label>
        <%= form.password_field(:password, {:size=> 15, :maxlength=> 30}) %>
      </div>

      <div class="authen_elements">
        <%= submit_tag("Login") %>
      </div>

      <div class="authen_elements">
        <%= 'New User?  ' %>
      </div>



     <% end %>


     <div class="authen_elements">
        <span class="register_button">

          <%= link_to '<button>Register Here</button>'.html_safe, register_path %>

        </span>


     </div>

  <% end %>

</div>