<div id="foot">

  <div class="footerdiv">
    <ul>
      <span class="footer-legend">About Us</span>
      <li>
        <%= link_to "Overview", :controller => "about", :action => "index" %>
      </li>
      <li>
        <%= link_to "Features", :controller => "about", :action => "features" %>
      </li>
      <li>
        <%= link_to "Contact", :controller => "about", :action => "contact" %>
      </li>
    </ul>
  </div>

  <div class="footerdiv">
    
    <ul>
      <span class="footer-legend">Help</span>
      <li>
        <a href="http://webzide.freeforums.org">Forums</a>
      </li>
      <li>FAQ</li>
      <li><%= link_to "Suggestions", suggest_path %></li>
    </ul>
  </div>

  <div class="footerdiv">
    <ul>
      <span class="footer-legend">Media</span>
      <li><a href="http://webzide.wordpress.com">Blog</a></li>
      <li><a href="http://www.facebook.com/pages/Webzide/196479767043512">Facebook</a></li>
      <li><a href="http://twitter.com/#!/webzide">Twitter</a></li>
    </ul>
  </div>

  <div class="footerdiv">
    <ul>
      <span class="footer-legend">Legal</span>
      <li><%= link_to "Legal Policy", :controller => "legal", :action => "policy" %></li>
      <li><%= link_to "Privacy Statements", :controller => "legal", :action => "privacy" %></li>
      <li><%= link_to "Terms of Service", :controller => "legal", :action => "tos" %></li>
    </ul>
  </div>
</div>

