	<div id="header">
		<div id="header-wrapper">
                        <%=  link_to('<img id="logo" src="../../images/site/logo.png" alt="logo"/>'.html_safe, root_path) %>


			<ul id="navbar" class="sf-menu">
                          <li>
                           <%= link_to_unless_current('Home'.html_safe, root_path) do
                              '<a class="active">Home</a>'.html_safe
                                end
                           %>
                          </li>
                          <li>
                           <%= link_to_unless_current('Members'.html_safe, users_path) do
                              '<a class="active">Members</a>'.html_safe
                                end
                           %>
                          </li>
                          <li>
                           <%= link_to_unless_current('Suggestions'.html_safe, suggest_path) do
                              '<a class="active">Suggestions</a>'.html_safe
                                end
                           %>
                          </li>
                          <li>
                           <%= link_to_unless_current('About'.html_safe, about_path) do
                              '<a class="active">About</a>'.html_safe
                                end
                           %>
                          </li>
                          <li>
                           <%= link_to_unless_current('Register'.html_safe, register_path) do
                              '<a class="active">Register</a>'.html_safe
                                end
                           %>
                          </li>

					<ul>
                  	   <li><a href="#">Another</a>
							<ul>
								<li><a href="#">Only For</a></li>
								<li><a href="#">Demostration</a></li>
								<li class="last-link"><a href="#">Purpose</a></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>