
    <%= link_to('Home', root_path) 
      
    %>

    <%= link_to('Media', 'pages#media')
    %>

    <%= link_to('About', 'pages#about')
    %>

    <%= link_to('Contact', 'pages#contact')
    %>


<% if session[:user_id] %>

    <%= link_to_unless_current('<div class="nav-subdiv">Profile</div>', profile_path) do
       '<div class="current">Profile</div>'
      end
    %>

    <%= link_to_unless_current('<div class="nav-subdiv">Dashboard</div>', dashboard_path) do
       '<div class="current">Dashboard</div>'
      end
    %>

<% end %>

