<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    </title>

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= render 'layouts/stylesheets' %>
   <%= render 'layouts/scripts' %>
 
  </head>
  <body>


</head>
<body>
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>




  </body>
</html>