<!DOCTYPE html>
<html>
<head>
  <title>Webzide1.1</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>



    <%= render 'layouts/stylesheets' %>
  <body>
    <div id="webzide_page">
      <div id="top">
         <div id="logo">
            <span id="logo-span">
              <%= link_to 'Webzide', root_path %>
            </span>
         </div>

         <div id="nav">
            <%= render 'layouts/nav' %>
         </div>
      </div>

      <div id="authen">
        <%= render 'layouts/authen' %>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
          <%= render 'layouts/footer' %>
      </div>

      <div id="copyright">
        Copyright &copy; 2010 Webzide.com. All rights reserved.
      </div>

    </div>


</body>
</html>