<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    </title>

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= render 'layouts/stylesheets' %>

  </head>
  <body>
    <div id="webzide_page">
      <div id="top">
         

         <div id="nav">
           <div id="version">
            Alpha (version. 0.2)
           </div>
            <%= render 'layouts/nav' %>
         </div>

         <div id="logo">
            <span id="logo-span">
              <%= link_to "Webzide", root_path %>
            </span>
         </div>
        


        <div id="slogan">
          <span id="slogan-span">
              web without boundaries
          </span>
        </div>
      </div>

      <div id="authen">
        <%= render 'layouts/authen' %>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
          <%= render 'layouts/footer' %>
      </div>

      <div id="copyright">
        Copyright &copy; 2010 Webzide.com. All rights reserved.
      </div>

    </div>

  </body>
</html>